<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Reduced authors with total posts
    </div>
      <div class="panel-body">
        <div class="col-xs-6">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="post in vm.totalBlogPosts">
            <span class="badge">{{post.value}}</span>
            {{post.key}}
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-footer">
      copyright Nazmul
    </div>
  </div>
</div>
